---
# common-windows/tasks/network.yml
# DNS, hostname, and IPv6 configuration

- name: Set hostname
  ansible.windows.win_hostname:
    name: "{{ inventory_hostname }}"
  when: crucible_set_hostname
  register: hostname_result
  tags:
    - network
    - hostname

- name: Configure DNS servers
  ansible.windows.win_dns_client:
    adapter_names: '*'
    dns_servers: "{{ crucible_dns_servers }}"
  tags:
    - network
    - dns

- name: Configure DNS search suffix
  ansible.windows.win_powershell:
    script: |
      Set-DnsClientGlobalSetting -SuffixSearchList @("{{ crucible_dns_search_domain }}")
  tags:
    - network
    - dns

- name: Disable IPv6 on all adapters
  ansible.windows.win_powershell:
    script: |
      Get-NetAdapterBinding -ComponentID ms_tcpip6 | ForEach-Object {
        Disable-NetAdapterBinding -Name $_.Name -ComponentID ms_tcpip6
      }
  when: crucible_disable_ipv6
  tags:
    - network
    - ipv6

- name: Disable IPv6 via registry
  ansible.windows.win_regedit:
    path: HKLM:\SYSTEM\CurrentControlSet\Services\Tcpip6\Parameters
    name: DisabledComponents
    data: 255
    type: dword
  when: crucible_disable_ipv6
  tags:
    - network
    - ipv6
    - hardening
