---
# common-linux/handlers/main.yml
# Service restart handlers triggered by configuration changes

- name: Restart sshd
  ansible.builtin.service:
    name: sshd
    state: restarted

- name: Reload sysctl
  ansible.builtin.command:
    cmd: sysctl --system
  changed_when: true

- name: Restart chrony
  ansible.builtin.service:
    name: chrony
    state: restarted

- name: Restart auditd
  ansible.builtin.service:
    name: auditd
    state: restarted

- name: Restart journald
  ansible.builtin.service:
    name: systemd-journald
    state: restarted

- name: Restart NetworkManager
  ansible.builtin.service:
    name: NetworkManager
    state: restarted
