---
# common-linux/tasks/ssh.yml
# SSH hardening configuration

- name: Deploy hardened sshd_config
  ansible.builtin.template:
    src: sshd_config.j2
    dest: "{{ sshd_config_path }}"
    owner: root
    group: root
    mode: "0600"
    validate: "sshd -t -f %s"
    backup: yes
  notify: Restart sshd
  tags:
    - ssh
    - hardening

- name: Ensure SSH service is enabled and running
  ansible.builtin.service:
    name: sshd
    state: started
    enabled: yes
  tags:
    - ssh
