# {{ ansible_managed }}
# Crucible Chrony NTP Configuration

{% for server in crucible_ntp_servers %}
server {{ server }} iburst
{% endfor %}

# Record the rate at which the system clock gains/losses time
driftfile /var/lib/chrony/drift

# Allow the system clock to be stepped in the first three updates
makestep 1.0 3

# Enable kernel synchronization of the real-time clock (RTC)
rtcsync

# Log tracking, measurements, and statistics
logdir /var/log/chrony
